<h1>Main#index</h1>
<p>Find me in app/views/main/FantasyScraper.html.erb</p>


<div>
    <p class="greeting-id">The ID is </p>
    <p class="greeting-content">The content is </p>
</div>

<form action="/results" method="get">
    LeagueId: <input type="text" name="leagueId" value="457631"><br>
    SeasonId: <input type="text" name="seasonId" value="2017"><br>
    League Size: <input type="text" name="leagueSize" value="14"><br>
    League Name: <input type="text" name="leagueName" value="WPFL"><br>
    <button type="submit">Submit</button>
</form>




<p>Click the "Submit" button.</p>


<p id="response">

</p>